@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Outfit';
    src: url('/public/fonts/Outfit-Regular.ttf');
}
@font-face {
    font-family: 'Young-serif';
    src: url('/public/fonts/YoungSerif-Regular.ttf');
}